@import "tailwindcss";
@import "@nuxt/ui";


body {
  font-family: system-ui, sans-serif;
  margin: 0;
  padding: 0;
  background-color: white;
}

/* Additional tailwinds color variable */
:root {
  --color-blue-950: #003d5c;
}

